/* Corolla < IE9 */
#menu-bar ul li {
  display: block;
  float: left;
}
#menu-bar ul li a {
  padding-bottom: 1.09em;
}
#menu-bar .menu-wrapper ul li ul {
  margin-top: 0.42em;
}
.article .user-picture {
  width: 50px;
  margin-right: 15px;
}
.block input.form-text,
.block input.form-password,
.block input.form-file {
  width: 95%;
}
